@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

body {
    overflow: hidden;
}

canvas {
    background-color: #121212;
}

.screen {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #d9d9d9;
    top: 0;
    left: 0;
}

.screen h1 {
    font-size: 2rem;
}

.screen span {
    font-size: .6rem;
    color: #ccc;
    margin-top: auto;
    margin-bottom: 15px;
}

.start-screen > div{
    margin-top: auto;
}

.button-play,
.button-restart {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    display: block;
    margin: 20px auto 0;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.button-play:hover,
.button-restart:hover {
    box-shadow: #e3fffb72 0 5px 25px;
}

.game-over {
    animation: backdrop 1s ease forwards;
}
.game-over > div {
    transform: scale(0);
    animation: zoom 1s ease forwards;
}

.score-ui {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 1rem;
    display: none;
}

.score-ui > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.score-ui .icon-settings {
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes backdrop {
    from {
        backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(10px);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
